/* heMenu CSS */

body.hemenu-opened {
	overflow-y: hidden;
	overscroll-behavior: none;
}

%hemenu-reset {
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hemenu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 100%;
	left: 0;
	z-index: 9999;
  overflow: hidden;
  overscroll-behavior: contain;
  box-sizing: border-box;
	transition-property: bottom,background-color;
	transition-duration: 0s,.3s;
	transition-timing-function: ease;
	transition-delay: .45s,.15s;

	&.hemenu-open {
		bottom: 0;
		background: rgba(0,0,0,.25);
		transition-delay: 0s;
  }

  .hemenu-content {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 50vh;
    z-index: 2;
    width: 88%;
    min-width: 200px;
    max-width: 440px;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease;

    .hemenu-menu {
      flex: 1 1 auto;
      position: relative;
      min-height: 50px;
      overflow: hidden;
      overflow-y: auto;
    }

    //  Back button.
    .hemenu-menu-title {
      @extend %hemenu-reset;

      position: relative;
      min-height: 50px; // IE11 fallback
      padding: 0 40px; // IE11 fallback
      line-height: 50px; // IE11 fallback
      opacity: 0.4;
      text-align: center;
      cursor: pointer;

      //  Ellipsis.
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-bottom: 1px solid #bbb;
      user-select: none;
      -webkit-tap-highlight-color: transparent;

      &.hemenu-title-back:before {
        content: '';
        display: block;
        position: absolute;
        top: 25px; // IE11 fallback
        left: 20px; // IE11 fallback
        width: 10px;
        height: 10px;
        margin-top: 2px;

        border-top: 2px solid;
        border-left: 2px solid;
        transform: rotate(-45deg) translate(50%, -50%);
      }
    }
  }

  .hemenu-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba( 0, 0, 0, 0 );
  }

  &.hemenu-left {
    .hemenu-content {
      transform: translate3d( -100%, 0, 0 );
    }
  }

  &.hemenu-right {
    .hemenu-content {
      margin: 0 0 0 auto;
      transform: translate3d( 100%, 0, 0 );
    }
  }

  &.hemenu-open .hemenu-content {
    transform: translate3d( 0, 0, 0 );
  }
}

.hemenu.hemenu-theme-light .hemenu-content,
.hemenu.hemenu-theme-light .hemenu-menu {
	color: #444;
	background: #f3f3f3;
}

.hemenu.hemenu-theme-dark .hemenu-content,
.hemenu.hemenu-theme-dark .hemenu-menu {
	color: #ddd;
	background: #333;
}

.hemenu-menu {
  @extend %hemenu-reset;

	width: 100%;
  height: 100%;

  //  Prevent the entire menu from highlighting when clicking the navbar
  -webkit-tap-highlight-color: transparent;

  //  Enables smooth scrolling.
  -webkit-overflow-scrolling: touch;

  //  Prevent any content being visible outside the menu

  will-change: transform;

  nav {
    @extend %hemenu-reset;

    position: relative;
    width: 100%;
    height: 100%;
  }

  ul {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    line-height: 24px; // IE11 fallback
    list-style: none;
    margin: 0;
    padding: 0;

    transition: transform 300ms ease-in-out;
    transform: translateX(0);

    &.hemenu-menu-parent {
      transform: translateX(-100%);
    }

    li {
      cursor: pointer;

      ul {
        left: 100%;
      }

      &:after {
        content: '';
        display: block;
        margin-left: 15px;
        /* margin-left: var(--mm-spn-item-indent); */
        border-top: 1px solid;
        opacity: .15;
      }
    }
  }
}

.hemenu-menu {
  a, span {
    @extend %hemenu-reset;

    position: relative;
    padding: 13px 30px 13px 20px;
  }

  // The arrow
  .hemenu-menu-level > a, .hemenu-menu-level > span {
    //  The arrow.
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 25px;
      z-index: -1;

      width: 10px;
      height: 10px;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg) translate(0, -50%);
      opacity: 0.4;
    }
  }

  .hemenu-menu-level > a:before {
    right: -25px;
  }

  a {
    background: inherit;
    color: inherit;
    text-decoration: none;

    //  Show arrow for opening the submenu.
    &:not(:last-child) {
      margin-right: 50px;
      //  Border on the right.
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        border-right: 1px solid;
        opacity: 0.15;
      }
    }
  }

  //  Show arrow for opening the submenu.
  span {
    background: transparent;
  }

  ul.hemenu-menu-parent > li > ul:not(.hemenu-menu-open) {
    transform: translateX(100%);
  }
}